@font-face {
    font-family: Europa;
    src: url(../fonts/Europa-Bold/Europa-Bold.ttf);
}

@font-face {
    font-family: Citrus;
    src: url(../fonts/FontsFree-Net-c2537321-918e-4def-a018-cba7bcc0779d.ttf);
}

.first-article {
    display: flex;
    background: #000000;
    position: relative;
}

.welcome-text {
    display: flex !important;
    flex-direction: column !important;
}

.welcome-container {
    display: flex;
    flex-direction: column;
}

.welcome{
    font-size: 80px;
    color: white;
    font-family: "Citrus";
    z-index: 1;
    margin-right: 100px;
    margin-left: 100px;
    position: static !important; 
    margin-top: 120px; 
    text-align: center !important;
}

.welcome-description{
    margin-top: 10px;
    color: white;
    font-family: "Europa";
    z-index: 1;
    position: static !important; 
    margin-top: 20px; 
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 20px;
}

.welcome-call{
    margin-top: 10px;
    color: white;
    font-family: "Europa";
    z-index: 1;
    position: static !important; 
    margin-top: 20px; 
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 30px;
    text-transform: uppercase;
}

.welcome-list{
    color: white;
    font-family: "Europa";
    z-index: 1;
    position: static !important; 
    margin-top: 20px; 
    margin-left: 250px;
    text-align: left !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.welcome-list h3 {
    margin-top: 10px;
}

body{
    overflow-x: hidden;
}

b{
    color: #DAA520;
}

.welcome-image {
    margin-left: 20px;
    margin-top: 50px;
    width: 600px;
    height: 600px;
}

