@font-face {
    font-family: InterBold;
    src: url(../fonts/static/Inter-Bold.ttf);
}

.form-mentoria {
    max-width: 600px; 
    z-index: 1;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 10%;
    margin-right: 10%;
}

.form {
    padding: 20px;
    border-radius: 5px;
}

.form input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

button {
    text-align: right;
    justify-content: center;
    text-align: center;
    background-color: rgb(198, 140, 23);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-family: "InterBold";
    font-size: 24px;
    text-transform: uppercase;
    border: rgb(109, 76, 9) solid 5px;
    box-shadow: 5px 5px rgb(19, 19, 19);
}

button:hover {
    background-color: rgb(109, 76, 9);
    transform: scale(110%);
    transition: 0.5s;
}


.form-third {
    margin-top: 15%;
}