@media (max-width: 768px) {
    .first-article {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .welcome {
        font-size: 80px;
        z-index: 1;
        position: static !important;
        text-align: center !important;
        margin-top: 50px;
    }

    .welcome-description {
        margin-top: 10px;
        z-index: 1;
        position: static !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 20px;
    }

    .welcome-call {
        margin-top: 20px;
        z-index: 1;
        position: static !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 30px;
    }

    .welcome-list {
        font-size: 18px;
        position: static !important;
        z-index: 1;
        margin-left: 15%;
        margin-top: 20px;
    }

    .form-mentoria {
        width: 300px;
        margin-left: 18%;
        position: static !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important
    }

    button {
        padding: 10px 10px;
        font-size: 16px;
    }

    .welcome-image {
        margin-top: 20px;
        width: 400px;
    }
}

@media (max-width: 768px) {
    .second-article {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .call-second {
        position: static !important;
        z-index: 1;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 24px;
    }

    .description-second {
        font-size: 16px;
        position: static !important;
        z-index: 1;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .button-second {
        padding: 10px 20px;
        font-size: 16px !important;
    }
}

@media (max-width: 768px) {
    .third-article {
        display: flex !important;
        position: relative !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .third-image {
        z-index: 1;
        position: static !important;
        width: 500px;
    }

    .title {
        font-size: 60px;
        margin-left: 300px;
        margin-right: 300px;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        z-index: 1;
        position: static !important;
    }

    .call {
        font-size: 20px;
        margin-left: 300px;
        margin-right: 300px;
        z-index: 1;
        position: static !important;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .description {
        margin-top: -150px;
        font-size: 16px;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .container-form {
        flex-direction: column-reverse;
    }

    .form-third {
        width: 300px;
        margin-left: 290px;
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important
    }

}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .social-icons {
        margin-top: 10px;
    }

}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
    position: relative
}