@font-face {
    font-family: Europa;
    src: url(../fonts/Europa-Bold/Europa-Bold.ttf);
}

@font-face {
    font-family: Citrus;
    src: url(../fonts/FontsFree-Net-c2537321-918e-4def-a018-cba7bcc0779d.ttf);
}

.second-article {
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    padding: 50px;
    margin-top: 50px;
}

.call-second {
    text-transform: uppercase;
    font-family: "Europa";
    font-size: 40px;
}

.description-second {
    color: white;
    font-family: "Europa";
    margin-top: 20px;
    font-size: 36px
}

.button-second {
    margin-top: 30px !important;
}