@font-face {
    font-family: Europa;
    src: url(../fonts/Europa-Bold/Europa-Bold.ttf);
}

@font-face {
    font-family: Citrus;
    src: url(../fonts/FontsFree-Net-c2537321-918e-4def-a018-cba7bcc0779d.ttf);
}

.third-article {
    background: #000000;
    padding: 20px;
    position: relative;
}

.title{
    font-size: 70px;
    color: white;
    font-family: "Citrus";
    z-index: 1;
    position: static !important; 
    margin-top: 120px; 
    text-align: center !important;
}

.call{
    font-size: 24px;
    color: white;
    font-family: "Europa";
    z-index: 1;
    position: static !important; 
    margin-top: 25px; 
    text-align: center !important;
    text-transform: uppercase;
}

.description{
    margin-top: 10px;
    color: white;
    font-family: "Europa";
    z-index: 1;
    position: static !important; 
    margin-top: 20px; 
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}

.container-form {
    display: flex;
}

